@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", "sans-serif";
  --text-10xl: 6.75rem;
  --color-jvlcode: #FF9800;
  --font-weight-jvlbold: 1000;
  --breakpoint-*: initial;
   --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
  --color-red-200: blue
}

@custom-variant dark (&:where(.dark-jvl, .dark-jvl *));


.my-btn {
    @apply bg-red-600 font-jvlbold p-3 border-4 shadow-2xl not-visited:hover:outline-4
}